@import './config.scss';

.container-login{
    .logo {
        display: block;
        margin: auto;
        margin-bottom: 30px;
        width: 196.8px;
    }

    p {
        text-align: center;
        color: $errorColor;
        font-weight: bold;
    }

    button {
        margin-top:12px;
        width: 100%;
        height: 56px;
        background-color: $primaryColor;
        border-color: $primaryColor;
        color: white;
        border-radius: 12px;
        font-size: 17px;
    }

    .input{
        display: flex;
        flex-direction: row;
        padding: 10px;

        img{
            margin-top: -20px;
            margin-right: 10px;
        }

        input{
            margin-bottom: 12px;
            font-size: 16px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            color: $primaryColor;
            width: 240px;
            border-radius: 0px;
            padding-bottom: 7px;

            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-color: $mediumGreyColor;
            border-bottom-width: 0.1em;

            outline: none;

            &:focus{
                border-color: $primaryColor;
            }

            &::placeholder {
                color: $mediumGreyColor;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: $mediumGreyColor;
            }
            
            &::-ms-input-placeholder {
                color: $mediumGreyColor;
            }
        }
    }

    @media screen and (min-width:992px) {
        display: flex;
        flex-direction: row;

        .logo{
            width: 520px;
            margin: 0px;
        }

        form{
            border-style: solid;
            border-color: $primaryColor;
            border-width: 0.1em;
            border-radius: 32px;
            padding: 80px 40px;
            margin-left: 10%;

            .input{
                input{
                    width: 343px;
                }

                img {
                    width: 20px;
                }
            }
        }
    }
}